.particle-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #000000;
  will-change: transform;
  pointer-events: none;
}

.particle-background canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: none;
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000px;
  mix-blend-mode: screen;
  opacity: 1;
}

/* Remove noise texture for cleaner particle view */ 